<a href="https://colab.research.google.com/github/Stallians/ML-Projects/blob/master/SentimentAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMDB Movie Review Sentiment Analysis

**First version**:  
~70% accuracy score on both train and test data. Looking for how to interpret the trained model so can find out the relevant models.  
  1.1. Realised that weights for NB can't be determined straight-away. (Should've used a linear model instead)

**Second version**:  
Used Logistic Regression(LR), so that i can interpret the weights and improve feature vectors.  
~73% accuracy on train and test data (0.74092, 0.7352) //suspected slight overfit

**TODO**  
1. Review Data can be cleaned throughly. Some HTML elements can be removed.
2. Better values for Tfidf min and max df.
3. There are more than one reviews for any given movie. Can this data point be used? Figure out.

In [0]:
import pandas as pd
import numpy as np
import os

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Get the data

In [2]:
!wget https://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz

--2019-12-20 18:12:48--  https://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
Resolving ai.stanford.edu (ai.stanford.edu)... 171.64.68.10
Connecting to ai.stanford.edu (ai.stanford.edu)|171.64.68.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 84125825 (80M) [application/x-gzip]
Saving to: ‘aclImdb_v1.tar.gz’

aclImdb_v1.tar.gz   100%[===================>]  80.23M  22.9MB/s    in 3.9s

2019-12-20 18:12:52 (20.5 MB/s) - ‘aclImdb_v1.tar.gz’ saved [84125825/84125825]

In [0]:
# extracting the data
import tarfile
tar = tarfile.open('aclImdb_v1.tar.gz','r:gz')
tar.extractall()
tar.close()

## Read data

In [0]:
test_path_pos = 'aclImdb/test/pos/'
test_path_neg = 'aclImdb/test/neg/'
train_path_pos = 'aclImdb/train/pos/'
train_path_neg = 'aclImdb/train/neg/'
train_reviews, test_reviews = list(), list()

In [0]:
# method to read data into lists
def read_reviews(filedir, sentiment):
  temp_list = []
  for tfilen in os.listdir(filedir):
    filepath = os.path.join(filedir, tfilen)
    rev = open(filepath).read()
    temp_list.append([tfilen[:-4], rev, sentiment])
  return temp_list

In [0]:
train_reviews+=read_reviews(train_path_pos, 1)
train_reviews+=read_reviews(train_path_neg, 0)

test_reviews+=read_reviews(test_path_pos,1)
test_reviews+=read_reviews(test_path_neg,0)

In [0]:
# use of assert is not favourable when code is optimised
assert len(train_reviews) == 25000
assert len(test_reviews) == 25000

In [10]:
train_reviews[:5]

[['10152_9',
  'I have looked forward to seeing this since I first saw it listed in her work. Finally found it yesterday 2/13/02 on Lifetime Movie Channel.<br /><br />Jim Larson\'s comments about it being a "sweet funny story of 2 people crossing paths" were dead on. Writers probably shouldn\'t get a bonus, everyone else SRO for making the movie.<br /><br />Anybody who appreciates a romantic Movie SHOULD SEE IT.<br /><br />Natasha\'s screen presence is so warm and her smile so electric, to say nothing of her beauty, that anything she is in goes on my favorite list. Her TV and print interviews that I have seen are just as refreshing and well worth looking for.<br /><br />God Bless her, her family and future endeavors.<br /><br />This movie doesn\'t seem to available in DVD or video yet, but I would be the first to buy it and I think others would too.',
  1],
 ['3284_10',
  'My name is John Mourby and this is my story about Paperhouse: In May 2003 I saw Alfred Hitchcock\'s psycho, I was very scared and deeply disturbed. I began a frantic search for a film that was frightening in the same way. But none where satisfactory. Amongst those tried and failed were The Birds, Night of the Living Dead, The Silence of the Lambs, The Blair Witch Project, Ring, The Evil Dead, The Sixth Sense, 28 Days Later, The Texas Chainsaw Massacre, Halloween, Near Dark, Alien, Peeping Tom, The Cell, Rosemary\'s Baby, Don\'t Look Now, Witchfinder General, Friday the 13th and The Omen. That should confirm I was desperate! Long after I had stopped searching I found out about Paperhouse \x85\x85.<br /><br />Paperhouse is based on a favourite book that I own, called Marianne Dreams. Paperhouse had also come up in some of the books I had found on horror films, but they didn\'t tell me about the link between book and film. I discovered the truth while on the Internet, I bought the film later that day.<br /><br />I thought Paperhouse would not be faithful to the book and dull. Unfaithal it certainly was but dull certainly not. It was the answer to my prayers Marianne is renamed Anna in the film but most of the original story is the same. One day in school Anna draws a house in her scrap book (nothing remarkable about that) then she becomes ill and every time she faints or falls asleep she finds herself outside a creepy old house (and I mean genuinely unnerving). More she also finds that every time she puts something new in the drawing it appears in the dreamworld, EG an apple tree. Anna draws into the dreamworld a rather sad boy named mark who apparently is a person in the real world. Mark is a cripple but wants to leave the house, obligingly Anna draws in a lighthouse (a place to go to) but still the problem remains mark can\'t walk. So Anna decides to draw her father in. she gets her pencil out and gets too work, but the outcome is deformed and unsettling Anna particularly dislikes his eyes. Quote "he looks like madman". So Anna tries to rub him out and start again, but the pencil proves indelible (that means nothing can be rubbed out). Then Anna loses her temper and crosses out her father\'s eyes! I leave you too find out for you self the terrible consequences of the rash action.<br /><br />Paperhouse truly is the British answer to A Nightmare on elm Street! The viewing of this film left me shocked and upset. But I have found what I was looking for after 2 years. The question is how dose the compare with Psycho? Answer, 1 the old dark house, 2 psychological parental fears, 3 a genuine shock, 4 and very scary music.',
  1],
 ['6453_10',
  "The arrival of an world famous conductor sets of unexpected events and feelings in the small village. Some people are threatened by the way he handles the church choir, and how people in it gradually change. This movie is heartwarming and makes you leave the cinema with both a smile on your lips and tears in your eyes. It'a about bringing out the best in people and Kay Pollak has written an excellent script based on the ideas he has become so famous for. The actors are outstanding, Michael Nyqvist we know before but Frida Hallgren was an new, and charming acquaintances to me. She has a most vivid face that leaves no one untouched. Per Moberg does his part as Gabriella's husband almost too well, he is awful too see. One only wish the at he would be casted to play a nice guy one day so we can see if he masters that character as well.<br /><br />This is a movie that will not leave you untouched. If you haven't already seen it, do it today!",
  1],
 ['10743_9',
  "I've read most of the comments here. I came to the conclusion that almost everybody agrees that 9/11 is a shocking piece of history. There are a few who think that the added narrative is weak and <br /><br />I agree that the narrative is weak and unnecessary. About two brothers finding each other back after the disaster and the cliff hanger about Tony. But I don't think narration is unnecessary. Like I lot of theorists I think that our own lives are narrations. We are living and making our own autobiography. So if we tell about our lives this is always in the form of narration. We don't sum up facts like: Birth, Childhood, High School etc. We create a story about our live.<br /><br />Because we are familiar with stories, we want to put history in a story as well. Because in the form of a story we can identify ourselves. We can better understand the things happened in history when its told in the form of a story. So that's the purpose of adding a story in documentary. The story is weak, so be it, but we understand whats going on. If it was me out there I would be worried sick about my brother.<br /><br />And the second point, making a blockbuster movie about it. True, it's been to recent to come up with a big movie about 9/11. Though, there have been a few about the subject, but none of them like this documentary. But what if there will be a movie in about 5 years? I agree it is wrong trying to make a lot of money out of 9/11. But I also agree that movies are one of the best way to tell history. How many movies about the World war 2 have we seen? If I had not seen these movies my view of the WW would me totally different. I remember seeing Schindlers List, and I cried for an hour during class. Movies give you a good image of the things that happened in history and although it is fiction it contributes to the memory of the disasters and the casualties. <br /><br />So my point: telling stories is not always bad, it makes us identify with the story, and makes us never forget what happened.",
  1],
 ['2427_10',
  'This is really a great unknown movie.Perfect dialogue without the typical clichés.This movie relied on the actor\'s talent and it was pulled off.It even had a little bit a comedy in it,but it wasn\'t overdone.Once in the Life is what a crime drama is supposed to be,not the typical special affects garbage with sex thrown in.I especially loved the interracial aspects of it all.<br /><br />Now onto the actors themselves. Laurence Fishburne was superb at playing a career petty criminal.It\'s a shame that he\'s only allowed to show his talent in his own movie. Titus Welliver was fabulous as Fishburne\'s junky half-brother. Eamonn Walker added flavor to the already perfectly spiced film. Paul Calderon was perfect as a grease monkey/drug lord.I loved his acting since "King of New York". But the best acting in this film came from Gregory Hines and Michael Paul Chan,who were paired perfectly as two of Calderon\'s henchmen.<br /><br />Once in the Life is for sure a keeper. ****1/2* out of *****.',
  1]]

In [11]:
test_reviews[-5:]

[['4622_1',
  'This is the one movie that represents all that is bad in the movie business. The actors are pathetic and the script is awful. The special effects, if there are any, are so badly done that it would have been better to do it with cartoons instead. Besides that it\'s great! I think the creators of the movie meant it to have humor, but the only time i was laughing was when I saw Patrick S. with long hair and the colorful costumes that every one had. The scenes at the end were good but they were not a part of the movie. In the end you will ask yourself "why did I waste my time and money with that crap when I could have watched the plants growing or the clouds moving". I don\'t think that I am some critic or anything but this is a truly lame movie! DO NOT WATCH! DANGER OF STUPIDITY OVERLOAD!',
  0],
 ['217_3',
  "I have to admit that I am disappointed after seeing this movie. I had expected so much more from the trailers. The movie was absolutely horrible. It lacked a real story line and the acting was not exactly the best. Don't waste your time. The movie is not what the trailers lead you to think it is. I would have to say that I don't usually write anything about movies on IMDb (in fact this is my first one) but this movie was such a disappointment that I registered just to let people know not to waste their time or money. The story line is that of a heist that is to happen and it looks like it had potential to be good but the things that happen in the movie are a little far fetched to be believable. Watch another movie instead, maybe the inside man???",
  0],
 ['6649_3',
  "Having broken into a secret database file for matching DNA serums,federal agent Frank Poo (Andy Garcia)discovers the only person who can save his son's life is a psychopath,played by Michael Keaton . However,when a serum transfer at the local hospital goes terribly wrong,a certain Mr.Poo has to do everything in his power to ensure the madman stays alive in order to make the inevitable transfer possible. By the way,his name is'nt really Poo,I just feel like calling it him. Despite the original concept at hand,this is an implausible and turgidly unexciting action thriller.I've never been a big fan of Andy Garcia,and granted his charecter here is'nt that attachable,this movie winds up all the worse.The action sequences are handled pretty disappointingly,and the ending sucks pretty bad. Having done a great villain in Pacific Heights,Keaton's psychopathic bad guy here is a let down,providing a madman too funny and charismatic to be deplored.Brian Cox is also wasted as Garcia's firm and frank superior.",
  0],
 ['9054_1',
  'One IMDb reviewer calls Eaten Alive a passable film for the "cannibal connoisseur." Are there such people? I didn\'t know. But if you are one of them, hey, have a ball. The rest of you might find this tripe a bit hard to swallow (pun intended), even if, like me, you consider yourself a horror film connoisseur. I have been an avid horror fan for about 15 years now, although I never got around to the cannibal subgenre until a few weeks ago, and I guess I owe my short-lived interest in these groan-inducing movies, strangely enough, to China\'s total disregard for copyright laws. You see, I bought a two-disc DVD collection of all of Wesley Snipes\' films for 20 yuan (about $2.75), which turned out to include Last Cannibal World, Mountain of the Cannibal God, Eaten Alive, Cannibal Holocaust, Next, with Nicholas Cage, and something called Voodoo Lagoon, along with Blade 1-3, in Chinese. Nice.<br /><br />Being a second sequel, I immediately got a sinking feeling when the movie opened with a cannibal in street clothes wandering around major American cities, shooting unsuspecting Americans with poison darts and then scrambling away at full speed. Having run out of ways to keep movie cannibals scary, it seems that now they have made their way to the mainland. Later, you may be shocked to learn that this guy is on a "training exercise." Lock up your daughters! <br /><br />Before long the movie settles into the old missing sister routine, as a young blonde woman named Sheila begins her own investigation of the disappearance of her sister, who looks nothing like her in any way, but she\'s willing to spend most of the movie naked so I guess that doesn\'t matter. It seems that, after shooting one of his victims, the hapless cannibal we met early in the movie, not used to big city life, ran into the road and was struck dead by a moving van. <br /><br />The brilliant police force find a mysterious bit of film on him showing Sheila\'s sister involved in some bizarre ritual behavior, but other than the film, the guy is a complete mystery. As the piteous police chief laments, "we know nothing about him except that he\'s dead!" Poor guy, he must be getting a headache from all this. I recommend a nap. Luckily, Sheila is the kind of girl who can throw around tens of thousands of dollars like it\'s nothing in the search for her sister. Perfect for hiring a plucky backwoods guide caricature, since the police are clearly going to be no help.<br /><br />Obviously, nothing new is added to this miniscule sub-genre. Quite the contrary, cannibalism almost seems like a background to a completely different kind of bad movie, about the rescue of a missing person from the dangerous elements. Thickening the plot of that clothesline is not difficult, all you have to do is add in a cartoonish jungle cult of people who follow some guy who calls himself Jonas, who believes in using pain as a way to reunite man with nature, a process they call "purification." Personally, I prefer just peeing outside occasionally.<br /><br />One of my favorite parts of the movie is when Sheila is caught by one of the cult members - an overweight guy who looks like he took a three-day weekend from the office to appear in this movie. As he pulls out his trusty medical kit to give her an injection, he warns her, "If you don\'t believe in Jonas and purification (through pain), God help you." He then gives her a shot and, when she winces from the tiny pinch, he politely apologizes to her. I sense a true believer in this guy!<br /><br />As far as the gore, there are plenty of nasty sound effects over random shots of animals getting slaughtered and more than enough disgusting footage of women being cut up and eaten alive, so I guess right there the movie lives up to its name. The acting is astonishingly bad, as can be expected, and interestingly enough, the editing is also spectacularly botched but still strangely effective. <br /><br />Unfortunately, I think you have to be able to relate to people who believe in utterly insane cults in order to relate to anyone in the movie. There are plenty of outlandish religious ceremonies that take place, which make it more and more difficult to understand why Sheila\'s sister decided to turn her back on normal society. I\'m all for individualism and doing your own thing, but come ON. <br /><br />After a while the movie descends even further into your basic, run of the mill escape movie, just before we witness the most wildly inappropriate rendition of Glory, Glory Hallelujah in film history. WOW. <br /><br />Note: in this movie, a woman is raped with a severed snake. If you need any more reason never to watch it, seek professional help. Avoid this mess at all costs.',
  0],
 ['5441_1',
  'After a string of successful \'a man and his monkey films\', which included the seminal "Every Which Way But Loose", "Every Which Way You Can" and "Peter\'s Friends", the genre fell on hard times. In an effort to rejuvenate this once celebrated area, director Frank Marshall brought Michael Crichton\'s acclaimed novel to the big screen.<br /><br />Think \'Gorillas in the Mist\' meets \'Tron\' minus the box-office clout of Bruce Boxleitner. This is one mans doomed love affair for his talking monkey. Not helped by bad accents (Tim Curry struggles with a Romanian), a baboon of a screenplay, hungry hippos, skydiving primates and Bruce Campbell. Ape-Sh*t.',
  0]]

In [0]:
train = pd.DataFrame(data=train_reviews, columns=['filename','review', 'sentiment'])
test = pd.DataFrame(data=test_reviews, columns=['filename','review', 'sentiment'])

In [0]:
train_X, train_y = train.iloc[:,[0,1]], train.iloc[:,[2]]
test_X, test_y = test.iloc[:,[0,1]], test.iloc[:,[2]]

In [14]:
train_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
filename    25000 non-null object
review      25000 non-null object
dtypes: object(2)
memory usage: 390.8+ KB

In [15]:
test_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
filename    25000 non-null object
review      25000 non-null object
dtypes: object(2)
memory usage: 390.8+ KB

## Transforming text into vectors

In [0]:
tfidf = TfidfVectorizer(min_df=0.2, max_df=0.8, ngram_range=(1,2))

In [0]:
features = tfidf.fit_transform(train_X.review.tolist())

In [0]:
test_features = tfidf.transform(test_X.review.tolist())

In [0]:
fdf = pd.DataFrame(features.todense(), columns=tfidf.get_feature_names())

In [0]:
test_fdf = pd.DataFrame(test_features.todense(), columns=tfidf.get_feature_names())

In [21]:
print(fdf.shape)
print(test_fdf.shape)

(25000, 119)
(25000, 119)

In [22]:
fdf.head()

      about    acting     after  ...  with the     would       you
0  0.069793  0.000000  0.000000  ...   0.00000  0.158623  0.000000
1  0.188229  0.000000  0.124122  ...   0.00000  0.053475  0.080926
2  0.081259  0.000000  0.000000  ...   0.00000  0.092341  0.209615
3  0.380086  0.000000  0.050127  ...   0.04932  0.086385  0.032682
4  0.000000  0.289908  0.000000  ...   0.00000  0.000000  0.000000

[5 rows x 119 columns]

In [23]:
train_y.sentiment.shape

(25000,)

## Modeling

### Using Naive Bayes

In [0]:
nb = MultinomialNB()

In [0]:
nb=nb.fit(fdf, train_y.sentiment)

In [0]:
predictions=nb.predict(fdf)

In [27]:
# score on training data
accuracy_score(train_y.sentiment, predictions)

0.713

In [28]:
# score on testing data
test_predictions = nb.predict(test_fdf)
print(accuracy_score( test_y.sentiment, test_predictions))

0.70752

### Using linear model

In [0]:
lr = LogisticRegression()

In [30]:
lr = lr.fit(fdf, train_y.sentiment)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [0]:
train_predictions_lr = lr.predict(fdf)

In [32]:
# score on training data for  logistic(not 'linear') regression
accuracy_score(train_y.sentiment, train_predictions_lr)

0.74092

In [33]:
# score on testing data for logistic regression
test_predictions_lr = lr.predict(test_fdf)
print(accuracy_score(test_y.sentiment, test_predictions_lr))

0.7352

## Interpretations from Linear Model
- based on weights from logistic regression

In [34]:
print(lr.coef_.shape)

(1, 119)

In [0]:
interpret = pd.DataFrame.from_dict({"word":tfidf.get_feature_names(),
                                   "weight":lr.coef_[0].tolist() })

In [36]:
interpret.nlargest(5,'weight')

       word    weight
35    great  5.752874
108    well  3.297956
4      also  2.542649
72   one of  2.096197
114    will  2.071102

In [37]:
interpret.nsmallest(5,'weight')

      word    weight
12     bad -7.402652
66      no -3.590220
27    even -2.902132
1   acting -2.747727
78    plot -2.742868

# Notes

In [0]:
'''
First run:
~70% accuracy score on both train and test data. Looking for how to interpret the trained model so can find out the relevant models.
  * realised that weights for NB can't be determined straight-away. (Should've used a linear model instead)

Second version:
tried to use LR(linear) (linear model), so that i can interpret the weights and improve feature vectors
LR worked but, could not remember how to use it for binary classification ???

Seriously??? I should have used logistic model instead.
++ changed the model to logistic regression
  Second run:
  ~ 73% accuracy on train and test data (0.74092, 0.7352) //suspected slight overfitting
'''

In [0]:
"""
Tips:
1. to get the values of various hyperparameters/coefficient/weights of trained models/transformers/vectorizers, 
look into "Attributes" section of the method's scikit learn documentation
"""